body {
	background-image: radial-gradient(circle,#fff 0,#0084af 100%);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
}

#main-window {
    width: 1440px;
    border-radius: 3px;
    background: #fff;
    margin: 0 auto;
    height: 96vh;
    margin-top: 2vh;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

@media (max-width: 1440px) {
	#main-window {
		width: 100%;
		height: 100vh;
		margin-top: 0;
		border-radius: 0;
	}
}

#sidebar {
	border-right: 1px solid #d8d8d8;
	padding: 0;
	overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.brand-wrapper {
	background: #f5f5f5;
	overflow: auto;
}

.brand-picture {
	background-image: url('/static/img/bull_head.png');
	background-size: cover;
	background-position: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px;
	float: left;
}

span.brand-name {
    padding-left: 10px;
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-size: 2.5em;
    color: #333;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.search-wrapper {
    padding: 10px;
    background: transparent;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 3px 0px #ececec;
}

.search-wrapper input {
    background: transparent;
    border: 0;
    color: #424242;
    flex: 1;
    outline-color: transparent;
}

.search-wrapper i {
	color: grey;
}

i.clear-search {
	color: #f37878;
	cursor: pointer;
}

#message-area {
	padding: 0;
	display: flex;
    flex-direction: column;
}

.message-view-wrapper {
	padding: 20px;
	height: 90%;
	flex: 1;
}

.input-area-wrapper {
	height: 60px;
	border-top: 1px solid #ddd6;
	background-color: #effeff;
	display: flex;
	align-items: center;
	padding: 10px;
}

#attach-button {
  background: transparent;
  right: 10px;
  font-size: 26px;
  color: #5151514d;
  cursor: pointer;
  margin-right: 10px;
}

#attach-button:hover {
  color: black;  
}

#send-button:hover {
    color: black;
}

.input-area-inputfiled {
	color: black;
	background: transparent;
	border: 0;
	flex: 1;
}

.currency-list-wrapper {
  flex: 2;
  overflow: auto;
}

.currency-list-item {
	padding: 20px 10px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd6;
  color: grey;
}

.currency-list-item:hover {
	background: #eee;
  cursor: pointer;
}
.currency-profile-picture {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.currency-name {
	padding-left: 20px;
	flex: 1;
}

.currency-not-found {
  color: #aaa;
  text-align: center;
  padding: 20px;
}

.pinButton {
    float: right;
    font-size: 1rem;
    line-height: 1.5;
}

#details-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0
}

.details-view-blank {
  text-align: center;
  color: grey
}

.currency-history {
  flex: 1
}

.currency-info-symbol {
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #777;
    min-height: 60px;
}

.currency-info-values {
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    color: #2b71b1;
}

.currency-info-wrapper {
    padding: 5px 20px;
    border-bottom: 1px solid #d8d8d8;
    /*box-shadow: 0px 2px 3px 0px #ececec;*/
}

.currency-info-titles {
    color: #bbb;
}

.currency-today {
    padding: 20px 20px;
}

.intraday-data {
  margin-bottom: 50px;
  min-height: 72px;
}

.intraday-data-key {
    color: grey;
}

.row.intraday-data-value {
    font-size: 2em;
    color: #555;
}